{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{g1.name}}</span></h2>
								<p>{{g.description}} </p>
								<p>{{g.price}} </p>
								<a href="{{path('menu')}}" class="site-btn">Menu Cart</a>
								<a href="#" class="site-btn sb-c2">Order</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('images/' ~ g1.image)}}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{g2.name}}</span></h2>
								<p>{{g2.description}} </p>
								<p>{{g2.price}} </p>
								<a href="{{path('menu')}}" class="site-btn">Menu Cart</a>
								<a href="#" class="site-btn sb-c2">Order</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('images/' ~ g2.image)}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
{% endblock %}
