{% extends 'base.html.twig' %}

{% block title %}Hello GerichtController!{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}

<br>
<div class="container">
    <h2>Edit Dishes</h2>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Order Num</td>
                <td>Name</td>
                <td>Description</td>{#Beschreibung#}
                <td>Category</td>
                <td>Price</td>  {#Preis#}
                <td>Delete</td> {#Loschen#}
                <td><a href="{{path('create')}}" class="href">Create</a></td> {#Anlegen#}
            </tr>
        </thead>
        <tbody>
            {% for gericht in gerichte%}
            <tr>
                <td>{{gericht.id}}</td>
                <td><a href="{{path('show', {id: gericht.id}) }}" class="href">{{gericht.name}}</a></td>
                <td>{{gericht.description}}</td>
                <td>{{gericht.category}}</td>
                <td>{{gericht.price}}</td>
                <td><a href="{{path('delete', {id: gericht.id}) }}" class="href">X</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}